@model CreateProductVM

<div class="row">
    <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Create Product:</h4>

                <form class="forms-sample" method="post" enctype="multipart/form-data">

                    <div class="form-group">
                        <label asp-for="MainPhoto">Main photo:</label>
                        <input asp-for="MainPhoto" class="form-control" placeholder="MainPhoto">
                        <span class="text-danger" asp-validation-for="MainPhoto"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="HoverPhoto">Hover photo:</label>
                        <input asp-for="HoverPhoto" class="form-control" placeholder="HoverPhoto">
                        <span class="text-danger" asp-validation-for="HoverPhoto"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="OthersPhoto">Additional Photos:</label>
                        <input asp-for="OthersPhoto" class="form-control" placeholder="OthersPhoto">
                        <span class="text-danger" asp-validation-for="OthersPhoto"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Name">Name</label>
                        <input asp-for="Name" class="form-control" placeholder="Name">
                        <span class="text-danger" asp-validation-for="Name"></span>
                    </div>
                    

                    <select style="cursor:pointer;padding: 5px 10px;border-radius: 5px; border-color:gray;
                    background-color:gray; color:white;-webkit-appearance: none;
                      -moz-appearance: none;
                      appearance: none;" 
                    class="form-group" asp-for="CategoryId" asp-items="new SelectList(Model.Categories, nameof(Category.Id), nameof(Category.Name))">
                            <option selected disabled>Choose category</option>
                        </select>
                    <div class="form-group">
                        <Label asp-for="TagIds" style="display:block; font-size:18px;">Tags: </Label>

                        <select style="cursor:pointer;padding: 5px 10px;border-radius: 5px; border-color:gray;
                    background-color:gray; color:white;-webkit-appearance: none;
                      -moz-appearance: none;
                      appearance: none; width:60%"
                                class="form-group" asp-for="TagIds" asp-items="new SelectList(Model.Tags, nameof(Tag.Id), nameof(Tag.Name))">
                        </select>
                        <span class="text-danger" asp-validation-for="TagIds"></span>

                    </div>
                   
                    <div class="form-group">
                        <Label asp-for="ColorIds" style="display:block; font-size:18px;">Colors: </Label>
                        <select style="cursor:pointer;padding: 5px 10px;border-radius: 5px; border-color:gray;
                    background-color:gray; color:white;-webkit-appearance: none;
                      -moz-appearance: none;
                      appearance: none;  width:60%"
                                class="form-group" asp-for="ColorIds" asp-items="new SelectList(Model.Colors, nameof(Color.Id), nameof(Color.Name))">
                        </select>
                        <span class="text-danger" asp-validation-for="ColorIds"></span>
                    </div>
                    
                    <div class="form-group">
                        <Label asp-for="SizeIds" style="display:block; font-size:18px;">Sizes:</Label>

                        <select style="cursor:pointer;padding: 5px 10px;border-radius: 5px; border-color:gray;
                    background-color:gray; color:white;-webkit-appearance: none;
                      -moz-appearance: none;
                      appearance: none;  width:60%"
                                class="form-group" asp-for="SizeIds" asp-items="new SelectList(Model.Sizes, nameof(Size.Id), nameof(Size.Type))">
                        </select>
                        <span class="text-danger" asp-validation-for="SizeIds"></span>
                    </div>
                    

                    <div class="form-group">
                        <label asp-for="Price"></label>
                        <input asp-for="Price" class="form-control" placeholder="Price">
                        <span class="text-danger" asp-validation-for="Price"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ShortDescription"></label>
                        <input asp-for="ShortDescription" class="form-control" placeholder="Short description">
                        <span class="text-danger" asp-validation-for="ShortDescription"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description"></label>
                        <input asp-for="Description" class="form-control" placeholder="Description">
                        <span class="text-danger" asp-validation-for="Description" ></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SKU"></label>
                        <input asp-for="SKU" class="form-control" placeholder="SKU">
                        <span class="text-danger" asp-validation-for="SKU"></span>
                    </div>

                    <button type="submit" class="btn btn-primary me-2">Create</button>
                    <button asp-controller="product" asp-action="index" class="btn btn-light">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>