@model List<Size>
@{
    int count = 0;
}


<div class="row">
    @if (TempData["success"] is not null)
    {
        <span class="success-span">@TempData["success"].ToString()</span>
    }
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Sizes Table</h4>
                <a asp-controller="size" asp-action="create" class="btn btn-success">Create Size</a>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    No
                                </th>
                                <th>
                                    Type
                                </th>
                                <th>
                                    Products Count
                                </th>
                                <th>
                                    Settings
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Size size in Model)
                            {
                                count++;
                                <tr>

                                    <td>
                                        @count
                                    </td>

                                    <td>
                                        @size.Type
                                    </td>
                                    <td>
                                        @size.ProductSizes.Count
                                    </td>
                                    <td>
                                        <a class="btn btn-warning btn-info"><i class="mdi mdi-pencil"></i></a>
                                        <a class="btn btn-danger btn-info"><i class="mdi mdi-delete"></i></a>
                                        <a class="btn btn-primary btn-info"><i class="mdi mdi-open-in-new"></i></a>
                                    </td>
                                </tr>
                            }


                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>